* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    padding: 1rem;
    background-color: #333;
   

}


.container{
    max-width: 1140px;
    margin: 0 auto;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
font-size: 2rem;
color: #fff;
text-decoration: none;
align-items: center;
}


.menu {
    list-style: none;
    display: flex;
    align-items: center;
   

}

.menu li {
    margin: 0 1rem;

}

.menu li a {
    color: #fff;
    text-decoration: none;
}


.hero {
    background-color: #000000;
  
   
}


.hero-con{
    display: flex;
   
}


.hero-info {
    width: 100%;
    padding: 2rem;
    color: #fff;
}

.hero-info h1{
    font-size: 2rem;
}

.hero-info p{
    margin: 1rem 0;
}


.hero-info .hero-btn a {
    color: #fff;
}

.hero-info .hero-btn {
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: .8 1rem;
    border-radius: 5px;
    text-decoration: none;
}


.hero-img img{
    width: 100%;
    padding: 2rem;
}