 /* media query */

@media screen and (max-width: 320px) {
    
    .logo {
        margin-bottom: 1.5rem;
    }
    .nav-con {
        padding: 3rem 0;
        flex-direction: column;
        height: auto;
    }
    .menu {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .menu li {
        padding: 1rem 0;
        margin-left: 0;
        transition: 0.5s;
    }
    .menu li:hover {
        background: #222;
    }
    .about-img img{
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}

@media screen and (max-width: 500px){
    .icon-svg{
        grid-template-columns: repeat(2, 1fr);
    }
    .fullscreen{
        display: flex;
    }
    .customer-name{
        display: flex;
    }

}
@media screen and (max-width:480px){
    .icon-svg{
        grid-template-columns: repeat(4, 1fr);
    }
    .FlexContainer{
        display: flex;
    }
    .hero-card{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
}

  