.checkout-page{
    background: url(/Image/checkout_img.png);
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10em;
}
.herocheckout-info h1{
    color: #fff;
}
.herocheckout h1{
    color: #fff;
}
.herocheckout-con{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
}
.address h4{
    color: #fff;
}
.text-white{
    color: #fff;
}
.checkout-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
}
.herocheckout{
    text-align: center;
}
label{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}
@media screen and (max-width: 900px) {
    .checkout-page{
        padding: 2em;
    }
    
}