.checkout-page{
    background: url(/Image/checkout_img.png);
    width: auto;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10em;
}
.herocheckout-con{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}
.address h4{
    color: #fff;
}
.checkout{
}
.checkout-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2em;
    align-items: center;
    padding: 2em;
    border-bottom: #fff solid 1px;
}
.herocheckout{
    display: grid;
    justify-content: center;
}
label{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}
.submit-button{
    border: none;
    background: #4b4b4b;
    border-radius: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    width: 100px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
}
.submit-button:hover{
    opacity: 0.7; 
}
.checkout-box .product-price{
    font-family: Open Sans;
    font-size: 2rem;
}
.checkout-box .product-name{
    font-family: Open Sans;
    font-size: 2rem;
    text-transform: uppercase;
}
input[type="email"]{
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
input[type="password"]{
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
@media screen and (max-width: 768px){
    .checkout-page{
        display: grid;
        grid-template-columns: 1fr;
        padding: 5rem;
        justify-content: center;   
    }
    .herocheckout-info{
        display: grid;
    }
    .herocheckout-con{
        display: grid;
        width: 100%;
    }
    .checkout-box{
        display: grid;
        grid-template-columns: 1fr;
    }
    .herocheckout{
        text-align: center;
        padding-top: 1rem;
    }
    .herocheckout-con{
      padding: 1rem;
    }
    .checkout-box .product-price{
        font-family: Open Sans;
        font-size: 2rem;
    }
    .customerdata{
        border-bottom: 1px solid #fff;
    }
}