.checkout-sussess {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    text-align: center;
    row-gap: 2rem;
    padding: 5rem;
    margin: 10rem;
    border-radius: 10px;
    border: 1px solid var(--Border-color, #FB37FF);
    background: var(--BG-col-2, linear-gradient(169deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%));
}

button[type="submit"] {
    font-weight: 500;
    font-size: 1.125rem;
    height: 3.125rem;
    padding: 0 1.87rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 2px solid #3498DB;
    color: #3498DB;
    background-color: black;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: rgb(4, 88, 167);
}

.checkout-yourorder p{
    color: #333;
}

.checkout-order p{
    color: #333;
}

@media screen and (max-width: 768px) {
    .checkout-sussess {
        margin: 5rem;
        padding: 2rem;
    }
    .checkout-sussess h2 {
        font-size: 2rem;
    }
    .checkout-sussess p {
        font-size: 1rem;
    }
    button[type="submit"] {
        font-size: 1rem;
        height: 2.5rem;
        padding: 0 1rem;
    }
}