.product-con{
    display: grid;
    grid-template-columns: 1fr;
    background: url(/Image/product_detail.png);
    background-size: cover;
    height: 100vh;
}
.product-con h2{
    color: #b9b9b9;
    margin: 1rem;
}
.product-info h1{
    display: grid;
    font-family: Open Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.product-button {
    border: none;
    background: #4b4b4b;
    border-radius: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    width: 100px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
}
@media screen and (max-width: 768px){
    .product-info h1 {
        font-size: 48px;
    }
    .product-button {
        width: 80px;
        font-size: 16px;
    }
    .product-con {
        height: auto;
    }
}