@import url("/src/css/_screen.css");
@import url(/src/css/checkout_style.css);
@import url(/src/css/contact_style.css);
@import url(/src/css/product_style.css);
@import url(/src/css/product_detail_style.css);
@import url(/src/css/about_style.css);
@import url(/src/css/checkout_sussess_style.css);
@import url(/src/css/Checkout_payment_style.css);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

h1 {
    text-transform: uppercase;
}

/* body */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

/* container */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

/* Navbar */
nav {
    background: #333;
}
.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}
nav a {
    color: #fff;
    text-decoration: none;
}
.icon-mobile{
    color: white;
    margin: 0px !important;
    padding: 10px;
    display: none;
}
.menu-mobile-body{
    position: relative;
    display: none;
}
.menu-mobile{
    position: absolute;
    background-color: aquamarine;
    top: 0px;
    left: 50px;
    display: none;
}
.menu-mobile-ul{
    background-color: blueviolet;
    width: 200px;
    list-style-type: none;
}
.menu-mobile-ul li:hover{
    background: cadetblue;
}


/* menu */
.menu {
    display: flex;
}

.menu li {
    padding: 1rem;
    list-style: none;
    margin-left: 5rem;
    transition: 0.5s;
}

.menu li:hover {
    background: #222;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu-item {
    margin: 2rem;
    cursor: pointer;
    font-weight: 600;
}

.menu-icons-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header  */
header {
    background: url('/Image/gamehub\ for\ gamer\ by\ gamer.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.header-info {
    margin-top: 5rem;
    text-align: center;
    /* border: 1px solid red; */
}

.header-info p {
    width: 500px;
    margin: 0 auto;
}

.header-info h3 {
    font-size: 3rem;
    font-weight: lighter;
}

.header-btn {
    margin-top: 1rem;
}

.header-btn input {
    padding: 0.5rem;
    width: 20%;
    border: none;
    border-radius: 5px;
}

.header-btn button {
    padding: 0.5rem;
    width: 10%;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* logo */
.logo {
    font-size: 26px;
    font-weight: 800;
}

.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

/* Img */
.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
}

/* .row::after {
    content: "";
    display: table;
    clear: both;
} */
a {
    color: #fff;
    text-decoration: none;
}
.icon {
    filter: invert(1);
    height: 25px;
    margin: 1rem;
}

/* about */
.about {
    text-align: center;
    padding: 3rem 0;
}
.about-con {
    padding: 0 10rem;
}
.about-title {
    font-size: 2rem;
}
.about-desc {
    margin: 1rem;
}
.about-img {
    margin: 1rem;
}
.about-index {
    text-align: center;
    padding: 3rem 0;
    background: url(/Image/index_makenewfriends.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 400px;
}

.about-index-last {
    text-align: center;
    padding: 3rem 0;
    background: url(/Image/index_joindis.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 400px;
}

/* newsletter  */
.newsletter {
    background-position: center;
    height: 250px;
}

.newsletter-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: #fff;
}

.newsletter input {
    padding: 0.5rem;
    width: 230px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 0.5rem;
    width: 150px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.background-img {
    background-image: url(https://images.unsplash.com/photo-1586776977607-310e9c725c37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: -210px;
    margin: auto;
    width: 512px;
    gap: 16px;
}

/* footer */
footer {
    background-color: #000000;
    padding: 1rem;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;
    display: flex;
}

.footer-menu li {
    margin-right: 1rem;
}

.footer-menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
}

.footer-top {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #333;
    color: #fff;
}

.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con {
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date {
    background-color: #fff;
    color: #000000;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768)  {  
    .menu-desktop{
        display: none;
    }  
    .icon-mobile {
        display: block;
    }
    .menu-mobile-body {
        display: block;
    }
    
}