@import url(/src/css/checkout_style.css);
@import url(/src/css/contact_style.css);
@import url(/src/css/product_style.css);
@import url(/src/css/product_detail_style.css);
@import url(/src/css/about_style.css);
@import url(/src/css/checkout_sussess_style.css);
@import url(./Test_checkout_payment_style.css);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* font-size: 1rem; */
    transition: 0.5s;
}
html{
    font-size: calc(60% + 0.8vmin);
}
img {
    width: 25rem;
}
h1 {
    display: grid;
    color: var(--White, #FEFCFE);
    font-family: Open Sans;
    font-size: 2rem;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
/* body */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
/* container */
.container {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto; */
}
/* Navbar */
nav {
    background: #333;
}
.nav-con {
    display: flex;
    align-items: baseline;
    height: 3.75rem;
}
nav a {
    color: #fff;
    text-decoration: none;
}
.material-symbols-outlined {
    display: none !important;
}
/* menu */
.menu {
    display: flex;
    width: 100%;
    height: 100%;
}
.menu li {
    /* padding: 1rem;
    margin-left: 5rem; */
    /* list-style: none; */
    display: flex;
    transition: 0.5s;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.menu li:hover {
    background: #222;
}
/* Header  */
header {
    background: url('/Image/gamehub\ for\ gamer\ by\ gamer.png');
    height: 34.375rem;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.header-info {
    margin-top: 5rem;
    text-align: center;
    /* border: 1px solid red; */
}
.header-info p {
    margin: 0 auto;
}
h3 {
    display: grid;
    color: var(--White, #FEFCFE);
    font-family: Open Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.header-btn {
    margin-top: 1rem;
}
.header-btn input {
    padding: 0.5rem;
    width: 20%;
    border: none;
    border-radius: 5px;
}
.header-btn button {
    padding: 1rem;
    /* width: 10%; */
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/* logo */
.logo {
    font-size: 1.625rem;
    font-weight: 800;
}
.logo a {
    font-size: 1.625rem;
    color: #fff;
    text-decoration: none;
    align-items: center;
}
/* Img */
.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 2rem;
}
/* .row::after {
    content: "";
    display: table;
    clear: both;
} */
a {
    color: #fff;
    text-decoration: none;
}
.icon {
    filter: invert(1);
    height: 1.563rem;
    margin: 1rem;
}

/* about */
.about {
    text-align: center;
    padding: 3rem 0;
}
.about-con {
    padding: 0 10rem;
}
.about-title {
    font-size: 2rem;
}
.about-desc {
    margin: 1rem;
}
.column img {
    margin: 1rem;
    width: 100%;
}
.about-index {
    text-align: center;
    padding: 3rem 0;
    background: url(/Image/index_makenewfriends.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 400px;
}

.about-index-last {
    text-align: center;
    padding: 3rem 0;
    background: url(/Image/index_joindis.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    height: 25rem;
}
/* newsletter  */
.newsletter {
    background-position: center;
    height: 15.625rem;
}
.newsletter-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.625rem;
    color: #fff;
}
.newsletter input {
    padding: 0.5rem;
    width: 14.375rem;
    border: none;
    border-radius: 5px;
}
.newsletter button {
    padding: 0.5rem;
    width: 10rem;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.background-img {
    background-image: url(https://images.unsplash.com/photo-1586776977607-310e9c725c37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: -13.125rem;
    margin: auto;
    width: 32rem;
    gap: 16px;
}
/* footer */
footer {
    padding: 1.5rem;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
.footer-menu ul {
    list-style: none;
    display: flex;
}
.footer-menu li {
    margin-right: 1rem;
}
.footer-menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
}
/* .no-wrap {
 white-space: nowrap;
} */
@media screen and (max-width: 768px)  {  
    .nav-con {
        display: block;
        position: relative;
        width: 100%;
        padding: 0px;
    }
    .logo {
        position: relative;
        z-index: 999;
        background-color: #333;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu {
        display: block;
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
        left: 0px;
        top: -205px;
        width: 100%;
        z-index: 0;
    }
    .menu li {
        text-align: center;
        background-color: #333;
        width: 100%;
        margin: 0;
        border-top: 1px solid #fff;
        padding: 1rem;
    }
    .menu li:last-child {
        border-bottom: 1px solid #fff;
    }
    .menu li:hover {
        background: #222;
    }
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
    .material-symbols-outlined {
        display: inline-block !important;
        margin: 10px 0 10px 10px;
        font-size: 26px !important;
    }
    .header-info p {
        width: 100%;
    }
    .about-con {
        padding: 0px;
    }
    .column img {
        width: 50%;
    }
    .column {
        grid-template-columns: 1fr;
    }
    .newsletter input {
        width: 70%;
    }
    .newsletter button {
        width: 40%;
    }
    .footer-menu ul li a {
        text-transform: uppercase;
        font-size: 0.625rem;
    }
    footer{
        padding: 2rem;
    }
    .background-img{
        height: 12rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .background-text {
        width: 90%;
    }
    .background-text h1 {
        text-align: center;
        gap: 10px;
    }
    .background-text form {
        display: flex;
        width: 90%;
        gap: 10px;
    }
    .header-info h3{
        font-size: 3rem;
    }
}
@media screen and (max-width: 425px) {
    .background-img{
        height: 14rem;
    }
    .background-text form {
        width: 90%;
    }
    .background-text {
        width: 90%;
        height: 80%;
        gap: 5px;
    }
}