@import url("/src/_screen.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}
/* body */
.body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
}

/* container */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Navbar */
nav {
    background: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

/* menu */
.menu {
    display: flex;
}
.menu li {
    padding: 1rem;
    list-style: none;
    margin-left: 5rem;
    transition: 0.5s;
}
.menu li:hover {
    background: #222;
}
.menu li a {
    color: #fff;
    text-decoration: none;
}
.menu-container {
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
}
.menu-item{
    margin: 2rem;
    cursor: pointer;
    font-weight: 600;
}
.menu-icon-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header  */
header {
    background: url('/Image/gamehub\ for\ gamer\ by\ gamer.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #fff;
  
}
.header-info {
    margin-top: 5rem;
    text-align: center;
    /* border: 1px solid red; */

}
.header-info p {
    width: 500px;
    margin: 0 auto;
}
.header-info h3 {
    font-size: 3rem;
    font-weight: lighter;
}
.header-btn {
    margin-top: 1rem;
}
.header-btn input {
    padding: 0.5rem;
    width: 230px;
    border: none;
    border-radius: 5px;
}
.header-btn button {
    padding: 0.5rem;
    width: 150px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/* logo */
.logo{
    font-size: 26px;
    font-weight: 800;
}
.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    align-items: center;
}
/* Hero Home page */
.hero {
    background-color: #000000;
}

.hero-con {
    display: flex;
}
.hero-info {
    width: 100%;
    padding: 2rem;
    color: #fff;
}
.hero-info h1 {
    font-size: 2rem;
}
.hero-info p {
    margin: 1rem 0;
}

.hero-info .hero-btn a {
    color: #fff;
}
.hero-info .hero-btn {
    display: inline-block;
    background-color: orange;
    color: #fff;
    padding: .8 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.hero-img img {
    width: 80%;
    padding: 2rem;
}

/* ???????? */
.column {
    float: left;
    width: 33.33%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.red{
    color: rgb(167, 33, 10);
}
a {
    color: #fff;
    text-decoration: none;
}
.icon{
    filter: invert(1);
    height: 25px;
    margin: 1rem;
}

/* about */
.about {
    text-align: center;
    padding: 3rem 0;
    background-color: #000000;
    color: #fff;
}
.about-con {
    padding: 0 10rem;
}
.about-title {
    color: #0099ff;
    font-size: 2rem;
}
.about-desc {
    color: #797979;
    margin: 1rem 0;
}

.column .about-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.about-img {
    margin: 2rem 0;
    
}

/* pricing */
.pricing {

    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}
.pricing-info h3 {
    font-weight: lighter;
    font-size: 2rem;
}
.pricing-info p {
    margin: 1rem 0;
}
.pricing-table {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    /* border: 5cm solid red; */
}
.pricing-box {
    background-color: #fff;
    color: #333;
    padding: 1rem;
}
.pricing-box-title {
    background-color: #929292;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.pricing-box-info {
    padding: 1rem;
}
.price-blue {
    color: #0099ff;
    font-size: 2rem;
    font-weight: bold;
}
.price-box-info {
    margin: .5rem 0;
}
.pricing-more-info {
    display: inline-block;
    background-color: #43b303;
    padding: 1rem;
    width: 100%;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* client */
.clients {
    padding: 3rem 0;
    text-align: center;
    background-color: #000000;
    color: #fff;
}
.container-title h1 {
    color: #0099ff;
    font-size: 2rem;
    font-weight: lighter;
}
.clients-title p {
    color: #797979;
    margin: 1rem 0;
    color: #fff;
}
.clients-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    text-align: left;
    color: #fff;
}
.clients-img {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.clients-img img {
    width: 20%;
    border-radius: 2rem;
    margin: 1rem;
}
.background-img {
    background-image: url(https://images.unsplash.com/photo-1586776977607-310e9c725c37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    filter: blur(5px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: -210px;
    margin: auto;
    width: 512px;
    gap: 16px;
}

/* newsletter  */
.newsletter {
    background-position: center;
    height: 250px;
}
.newsletter-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: #fff;
}
.newsletter input {
    padding: 0.5rem;
    width: 230px;
    border: none;
    border-radius: 5px;
}
.newsletter button {
    padding: 0.5rem;
    width: 150px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: #000000;
    padding: 1rem;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
.footer-menu ul {
    list-style: none;
    display: flex;
}
.footer-menu li {
    margin-right: 1rem;
}
.footer-menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
}
.footer-top {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #333;
    color: #fff;
}
.footer-top-con {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 2rem;
}
.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}
.footer-top-item-con .date {
    background-color: #fff;
    color: #000000;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
  margin-bottom: 1rem;
}
.footer-bottom{
background-color: #fff;
padding: 1rem;
text-align: center;
}


/* aboout css page */
.blog {}

.blog-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;

}


.blog-title {
    margin: 2rem 0;
}


.blog-item img {
    width: 100%;
}

.blog-item h4 {
    margin-top: 1rem;
}

.blog-item p {
    margin-top: 1rem 0;
}

.blog-item a {
    display: inline-block;
    color: #fff;
    background-color: orange;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.progress-checkout-container{
display: flex;
justify-content: center;
align-items: center;
width: 60%;
}
.progress-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.step-check-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.step-check{
    background-color: rgb(0, 132, 255);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
   background-image: url(resources/check.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 60%;
}
.progress-step-container:nth-last-of-type(3) .step-check::after{
    display: none;
}